<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>chaos development</title>
    <meta name="description" content="">

    <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/assets/octicons/octicons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/assets/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-overrides.css">
    <link rel="stylesheet" href="/css/docs.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="/js/vendor/moment.min.js"></script>
    <script src="/js/vendor/handlebars.runtime-v4.7.6.js"></script>
    <script src="/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="/js/vendor/lodash.min.js"></script>
    <script src="/js/templates/github-activity.tpl.js"></script>
  </head>
  <body data-spy="scroll">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Navigation menu, mobile version -->
    <div class="header-mobile-container xs-block">
      <header class="clearfix topnav-mobile">
        <a href="/" class="active logo"><img src="/img/chaos-logo.svg" height="34"></a>

        <!-- Navigation links (hidden by default) -->
        <div id="topmenu-mobile">
          <a href="/">home</a>
          <a href="/news">news</a>
          <a href="/github-activity">activity</a>
          <a href="https://github.com/chaos4ever/chaos">github</a>
      </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </header>
    </div>

    <!-- Navigation menu, desktop version -->
    <div class="header-container sm-block">
      <header class="wrapper clearfix">
        <a href="/"><img src="/img/chaos-logo.svg" height="75"></a>
        <nav class="topmenu">
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/news">news</a></li>
            <li><a href="/github-activity">activity</a></li>
            <li><a href="https://github.com/chaos4ever/chaos">github</a></li>
          </ul>
        </nav>
      </header>
    </div>

    <div class="container">
